<h1>Log in</h1>

<%= form_with url: login_path, method: :post do |f| %>
  <label for="mobile">Mobile number</label>
  <%= f.telephone_field :mobile, id: "mobile", required: true, autofocus: true %>
  <%= f.submit "Send code" %>
<% end %>
